* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --flex: flex;
  --align-items-center: center;
}

header {
  padding: 25px;
  display: var(--flex);
  align-items: var(--align-items-center);
  justify-content: space-between;
  gap: 5px;
}

.header {
  display: var(--flex);
  align-items: center;
  gap: 8px;
  background-color: #1c1b1b;
  border-radius: 50px;
  padding: 10px;
  width: 100%;
}

header input {
  background-color: transparent;
  outline: none;
  color: #ffffff;
  border: none;
  height: 30px;
  flex: 1;
}

.menu {
  color: white;
  font-size: 25px;
  display: none;
}

a {
  text-decoration: none;
}

main {
  background-color: black;
  flex: 1;
  overflow: auto;
}

.main {
  padding: 25px;
}

aside {
  background-color: #1c1b1b;
  width: fit-content;
  padding: 20px;
  border-radius: 15px;
  height: fit-content;
}



.navbar {
  padding: 25px;
  width: 250px;
  background-color: #1c1b1b
}

.navbar nav {
  padding-top: 20px;
  display: var(--flex);
  gap: 10px;
  flex-direction: column
}

.navbar nav a {
  color: white;
  background-color: #000000;
  padding: 10px;
  display: var(--flex);
  align-items: var(--align-items-center);
  gap: 8px;
  border-radius: 4px
}

.navbar nav a:hover {
  background-color: #606060;
}

.moviecardone {
  background-color: #1c1b1b;
  padding: 10px;
  border-radius: 10px;
  width: 210px;
}

.moviecardone img {
  height: 260px;
  width: 100%;
  transition: transform 0.3s ease;
}

.moviecardone img:hover {
  transform: scale(0.95);
}

.moviecardone h1,
.moviecardtwo h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden
}

.moviecardone span,
.moviecardtwo span,
.moviecardthree span {
  color: white;
  display: var(--flex);
  align-items: var(--align-items-center);
  gap: 5px
}

.moviecardtwo {
  border-radius: 10px;
  width: 210px;
}

.moviecardtwo img {
  height: 200px;
  width: 100%;
}

/*movie car three*/
.moviecardthree {
  position: relative;
  height: 400px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(38, 38, 38, 0.85);
  border-radius: 10px;
  padding: 25px;
  transform: translateY(100%);
  transition: transform 300ms ease;
}

.moviecardthree:hover .overlay {
  transform: translateY(0);
}

.moviecardthree h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden
}

.moviecardfour {
  width: 270px;
  height: 420px;
  background-size: cover;
  border-radius: 15px;
}

.moviecardfouroverlay {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid white;
  height: 100%;
}

.moviecardfouroverlay:hover {
  background-color: rgba(0, 0, 0, 0.349);
}

.info {
  position: absolute;
  bottom: 20px;
}

/*sidebar*/
.sidebar {
  display: var(--flex);
  align-items: var(--align-items-center);
  gap: 15px;
  margin-bottom: 15px;

}

/*sub heading*/
.subheading {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: -10px
}

.subheading h1 {
  display: var(--flex);
  align-items: var(--align-items-center);
}

/*Movie page */
.moviecap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 40px;
}

.movielists {
  display: var(--flex);
  gap: 14px;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px
}

/*movie details*/
.moviedetails,
.searchdetails {
  display: var(--flex);
  gap: 40px;
  padding-top: 40px;
}

.searchdetails {
  justify-content: space-between;
}

.moviedetails .duration {
  padding-top: 10px;
  align-items: var(--align-items-center);
  display: var(--flex);
  gap: 5px;
}

.searchview {
  padding-bottom: 10px;
  text-wrap: wrap;
  font-size: 16px;
}

h1 {
  font-size: 20px;
  color: white;
}

h4 {
  color: white;
  padding: 5px 0px;
}

img {
  border-radius: 5px;
}

p {
  color: white
}

hr {
  border-color: rgb(138, 138, 138);
}

img {
  object-fit: cover;
}

/*home-hero*/
.homehero {
  height: 400px;
  background-image: url(./images/cinema-film-roll-red-carpet-3d-illustration_252025-571.avif);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.heroitem {
  background-color: #0000006b;
  padding: 30px;
  height: 100%;
  border-radius: 30px;
  align-content: center;
}

.heroitem h1 {
  font-size: 45px;
}

.heroitem p {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}


.heroitem a {
  background-color: #223f99;
  color: white;
  padding: 5px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 18px;
}

.heroitem a:hover {
  background-color: #2240999e;
  transition: 200ms;
}

/*banner*/
.banner {
  height: 250px;
  background-image: url(./images/cinema-film-roll-red-carpet-3d-illustration_252025-571.avif);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banneritem {
  background-color: #3030306b;
  padding: 30px;
  height: 100%;
  border-radius: 30px;
  align-content: center;
  text-align: center;
  color: white;
  font-size: 20px;
}

.banneritem a {
  color: white;
}

/*footer*/
.footer {
  background-color: #0f0f0f;
  color: #fff;
  padding: 40px 20px 20px;
  text-align: center;
}

.footer-top h2 {
  margin-bottom: 5px;
}

.footer-top p {
  color: #aaa;
  font-size: 14px;
}

.footer-links {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #fff;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer-socials svg:hover {
  color: #e50914;
  /* Netflix red vibe */
}

.footer-bottom {
  border-top: 1px solid #222;
  padding-top: 10px;
  font-size: 13px;
  color: #777;
}


/*mobile nav*/
.mobilenav {
  padding: 25px;
  width: 220px;
  background-color: #1c1b1b;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 1000ms ease;
  z-index: 10000;
  inset: 0;
}

.mobilenav nav {
  padding-top: 20px;
  display: var(--flex);
  gap: 10px;
  flex-direction: column
}

.mobilenav nav a {
  color: white;
  background-color: #000000;
  padding: 10px;
  display: var(--flex);
  align-items: var(--align-items-center);
  gap: 8px;
  border-radius: 4px
}

.mobilenav nav a:hover {
  background-color: #606060;
}

/*search list*/
.searchlist {
  flex: 2;
  width: 70%
}

/* width */
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.searchresulttitle {
  font-size: 40px;
  padding-bottom: 20px;
}

/*contact*/
.contactform {
  background-color: #1c1b1b;
  padding: 30px;
  border-radius: 20px
}

.contactformgroup {
  display: flex;
  gap: 30px;
  padding-top: 30px;
}

.contactform input,
.contactform textarea {
  padding: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
}

.contactformgroup button {
  background-color: blueviolet;
  font-Size: 20px;
  border: none;
  padding: 9px 20px;
  border-Radius: 15px;
  color: white;
}

.contactformgroup button:hover {
  background-color: rgb(97, 35, 155);
}

@media (max-width: 992px) {
  .menu {
    display: block;
  }

  .navbar {
    display: none;
  }

  header {
    padding: 10px;
  }

  .header {
    width: 85%;

  }

  .main {
    padding: 15px;
  }

  .heroitem h1 {
    font-size: 20px;
  }

  .homehero {
    height: 300px;
  }

  .heroitem p {
    font-size: 15px;
  }

  .moviedetails,
  .searchdetails {
    display: var(--flex);
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }

  .searchlist {
    flex: 2;
    width: 100%
  }

  .sidebar img {
    width: 60px;
    height: 60px;
  }

  .moviecap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding-top: 40px;
  }

  .searchresulttitle {
    font-size: 20px;
    padding-bottom: 20px;
  }

  iframe {
    height: 250px;
  }

  .banneritem h1 {
    font-size: 18px !important;
  }

  .banner {
    height: 180px;
    background-image: url(./images/cinema-film-roll-red-carpet-3d-illustration_252025-571.avif);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .banneritem {
    font-size: 20px;
  }

  .banneritem a,
  .banneritem span {
    font-size: 15px;
  }

  .moviecardfour {
    width: 250px;
    height: 350px;
    background-size: cover;
    border-radius: 15px;
  }

  .contactform {
    padding: 10px;
  }

  .contactformgroup {
    flex-direction: column;
  }
}